// Default Color
$bg-default: #3f43fd;

// Hover Color
$hover-color: #3f43fd;

// Dark Blue Color
$dark-blue: #070a57;

// White Color
$white-color: #ffffff;

// Gray Color
$gray-color: #f5f5ff;

// Dark Color
$dark-color: #000000;

// Heading Color
$heading-color: #020710;

// Text Color
$text-color: #747794;

// Sec Color
$sec-color: #404040;

// Green Color
$bg-green: #2ecc71;

// Red Color
$bg-red: #f4284a;

// Border Color
$border-color: #ebebeb;

// Yellow Color
$yellow-color: #f1c40f;