doctype html
html(lang="en")
    head
        include inc/head.pug

    body
        include inc/loader.pug

        include inc/header-white.pug

        include inc/hero-khulna.pug

        include inc/feature.pug

        include inc/extra-feature.pug

        include inc/benefits.pug

        include inc/work-step.pug
        
        .container
            .border-top

        include inc/organize-sale.pug

        include inc/testimonial.pug

        include inc/price.pug

        include inc/team.pug

        include inc/faq.pug

        include inc/download.pug

        include inc/google-map.pug

        include inc/contact.pug

        include inc/footer.pug

        include inc/plugins.pug