doctype html
html(lang="en")
    head
        include inc/head.pug

    body
        include inc/loader.pug

        include inc/header-white.pug

        // Breadcrumb Area
        .breadcrumb-area.bg-img.bg-black-overlay.section_padding_130(style="background-image: url(img/bg-img/testimonials.jpg);")
            .container
                .row.justify-content-center
                    .col-12.col-sm-9.col-xl-6
                        .breadcrumb-content.text-center
                            h2 Frequently Asked Questions
                            p For 5 years we have been developing for providing better services.

        // FAQ Area
        section.faq_area.section_padding_130_80.bg-white
            .container
                .row
                    // Single FAQ Area
                    .col-12.col-sm-6.col-lg-4
                        .single_faq_area.mb-50
                            h6 How can I install this app?
                            p Appland is completely creative, lightweight, clean &amp; super responsive app landing page. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ea corporis, deserunt ad.

                    // Single FAQ Area
                    .col-12.col-sm-6.col-lg-4
                        .single_faq_area.mb-50
                            h6 Where can I find out about events?
                            p Appland is completely creative, lightweight, clean &amp; super responsive app landing page. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ea corporis, deserunt ad.

                    // Single FAQ Area
                    .col-12.col-sm-6.col-lg-4
                        .single_faq_area.mb-50
                            h6 The apps isn't installing?
                            p Appland is completely creative, lightweight, clean &amp; super responsive app landing page. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ea corporis, deserunt ad.

                    // Single FAQ Area
                    .col-12.col-sm-6.col-lg-4
                        .single_faq_area.mb-50
                            h6 Contact form isn't working?
                            p Appland is completely creative, lightweight, clean &amp; super responsive app landing page. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ea corporis, deserunt ad.

                    // Single FAQ Area
                    .col-12.col-sm-6.col-lg-4
                        .single_faq_area.mb-50
                            h6 The apps isn't installing?
                            p Appland is completely creative, lightweight, clean &amp; super responsive app landing page. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ea corporis, deserunt ad.

                    // Single FAQ Area
                    .col-12.col-sm-6.col-lg-4
                        .single_faq_area.mb-50
                            h6 Contact form isn't working?
                            p Appland is completely creative, lightweight, clean &amp; super responsive app landing page. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ea corporis, deserunt ad.

                    // Single FAQ Area
                    .col-12.col-sm-6.col-lg-4
                        .single_faq_area.mb-50
                            h6 How can I install this app?
                            p Appland is completely creative, lightweight, clean &amp; super responsive app landing page. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ea corporis, deserunt ad.

                    // Single FAQ Area
                    .col-12.col-sm-6.col-lg-4
                        .single_faq_area.mb-50
                            h6 Where can I find out about events?
                            p Appland is completely creative, lightweight, clean &amp; super responsive app landing page. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ea corporis, deserunt ad.

                    // Single FAQ Area
                    .col-12.col-sm-6.col-lg-4
                        .single_faq_area.mb-50
                            h6 The apps isn't installing?
                            p Appland is completely creative, lightweight, clean &amp; super responsive app landing page. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ea corporis, deserunt ad.

                    // Single FAQ Area
                    .col-12.col-sm-6.col-lg-4
                        .single_faq_area.mb-50
                            h6 Contact form isn't working?
                            p Appland is completely creative, lightweight, clean &amp; super responsive app landing page. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ea corporis, deserunt ad.

                    // Single FAQ Area
                    .col-12.col-sm-6.col-lg-4
                        .single_faq_area.mb-50
                            h6 How can I install this app?
                            p Appland is completely creative, lightweight, clean &amp; super responsive app landing page. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ea corporis, deserunt ad.

                    // Single FAQ Area
                    .col-12.col-sm-6.col-lg-4
                        .single_faq_area.mb-50
                            h6 Where can I find out about events?
                            p Appland is completely creative, lightweight, clean &amp; super responsive app landing page. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ea corporis, deserunt ad.

        include inc/cta.pug

        include inc/footer.pug

        include inc/plugins.pug