doctype html
html(lang="en")
    head
        include inc/head.pug

    body
        include inc/loader.pug

        // Register Area
        .register-area.d-flex
            .register-content-wrapper.d-flex.align-items-center
                .register-content
                    // Logo
                    a.logo(href="index.html")
                        img(src="img/core-img/logo.png", alt="")

                    h3 Forgot Password?
                    p Enter the email address associated with your account.

                    // Register Form
                    .register-form
                        form(action="#", method="post")
                            .form-group
                                input.form-control(type="email", placeholder="Enter Email Address")
                            button.btn.apland-btn.w-100(type="submit") Get Reset Link

                    // Footer Copwrite Area
                    .footer_bottom
                        p Made with 
                            i.fa.fa-heart
                            |  by  
                            a(href="https://wrapbootstrap.com/user/DesigningWorld") Designing World

            // Register Side Content
            .register-side-content.bg-img(style="background-image: url(img/bg-img/hero-6.jpg);")

        include inc/plugins.pug