doctype html
html(lang="en")

    head
        include inc/head.pug

    body
        include inc/header.pug

        include inc/hero-barisal.pug

        // Demo Area
        .demo-area.section_padding_130_80
            .container

                .row.justify-content-center
                    .col-12.col-sm-8.col-lg-6
                        // Section Heading
                        .section_heading.text-center
                            h6 All Demos
                            h3 Apland has 8 new home pages &amp; 23 others inner pages for your website.
                            .line

                .row.justify-content-center
                    // Single Demo
                    .col-12.col-sm-6.col-lg-4
                        .card.demo-card.text-center.mb-50
                            a(href="apland-barisal.html")
                                img(src="img/demo-img/barisal.png", alt="")
                            h6 Apland Barisal

                    // Single Demo
                    .col-12.col-sm-6.col-lg-4
                        .card.demo-card.text-center.mb-50
                            a(href="apland-chattagram.html")
                                img(src="img/demo-img/chattagram.png", alt="")
                            h6 Apland Chattagram
                            
                    // Single Demo
                    .col-12.col-sm-6.col-lg-4
                        .card.demo-card.text-center.mb-50
                            a(href="apland-dhaka.html")
                                img(src="img/demo-img/dhaka.png", alt="")
                            h6 Apland Dhaka
                            
                    // Single Demo
                    .col-12.col-sm-6.col-lg-4
                        .card.demo-card.text-center.mb-50
                            a(href="apland-khulna.html")
                                img(src="img/demo-img/khulna.png", alt="")
                            h6 Apland Khulna
                            
                    // Single Demo
                    .col-12.col-sm-6.col-lg-4
                        .card.demo-card.text-center.mb-50
                            a(href="apland-mymensingh.html")
                                img(src="img/demo-img/mymensigh.png", alt="")
                            h6 Apland Mymensigh
                            
                    // Single Demo
                    .col-12.col-sm-6.col-lg-4
                        .card.demo-card.text-center.mb-50
                            a(href="apland-rajshahi.html")
                                img(src="img/demo-img/rajshahi.png", alt="")
                            h6 Apland Rajshahi
                            
                    // Single Demo
                    .col-12.col-sm-6.col-lg-4
                        .card.demo-card.text-center.mb-50
                            a(href="apland-rangpur.html")
                                img(src="img/demo-img/rangpur.png", alt="")
                            h6 Apland Rangpur
                            
                    // Single Demo
                    .col-12.col-sm-6.col-lg-4
                        .card.demo-card.text-center.mb-50
                            a(href="apland-sylhet.html")
                                img(src="img/demo-img/sylhet.png", alt="")
                            h6 Apland Sylhet

                .row
                    .col-12
                        .margin-bottom-48px.mb-5


                .row.justify-content-center
                    // Single Demo
                    .col-12.col-sm-6.col-lg-4
                        .card.demo-card.text-center.mb-50
                            a(href="about-us.html")
                                img(src="img/demo-img/about.png", alt="")
                            h6 About Us
                            
                    // Single Demo
                    .col-12.col-sm-6.col-lg-4
                        .card.demo-card.text-center.mb-50
                            a(href="pricing-plan.html")
                                img(src="img/demo-img/price.png", alt="")
                            h6 Price Plan
                            
                    // Single Demo
                    .col-12.col-sm-6.col-lg-4
                        .card.demo-card.text-center.mb-50
                            a(href="client-reviews.html")
                                img(src="img/demo-img/review.png", alt="")
                            h6 Client Reviews
                            
                    // Single Demo
                    .col-12.col-sm-6.col-lg-4
                        .card.demo-card.text-center.mb-50
                            a(href="faq.html")
                                img(src="img/demo-img/faq.png", alt="")
                            h6 FAQ
                            
                    // Single Demo
                    .col-12.col-sm-6.col-lg-4
                        .card.demo-card.text-center.mb-50
                            a(href="contact.html")
                                img(src="img/demo-img/contact.png", alt="")
                            h6 Contact
                            
                    // Single Demo
                    .col-12.col-sm-6.col-lg-4
                        .card.demo-card.text-center.mb-50
                            a(href="register.html")
                                img(src="img/demo-img/register.png", alt="")
                            h6 Register
                            
                    // Single Demo
                    .col-12.col-sm-6.col-lg-4
                        .card.demo-card.text-center.mb-50
                            a(href="login.html")
                                img(src="img/demo-img/login.png", alt="")
                            h6 Login
                            
                    // Single Demo
                    .col-12.col-sm-6.col-lg-4
                        .card.demo-card.text-center.mb-50
                            a(href="coming-soon.html")
                                img(src="img/demo-img/coming.png", alt="")
                            h6 Coming Soon
                            
                    // Single Demo
                    .col-12.col-sm-6.col-lg-4
                        .card.demo-card.text-center.mb-50
                            a(href="forget-password.html")
                                img(src="img/demo-img/forget.png", alt="")
                            h6 Forget Password
                            
                    // Single Demo
                    .col-12.col-sm-6.col-lg-4
                        .card.demo-card.text-center.mb-50
                            a(href="newsletter.html")
                                img(src="img/demo-img/newsletter.png", alt="")
                            h6 Newsletter
                            
                    // Single Demo
                    .col-12.col-sm-6.col-lg-4
                        .card.demo-card.text-center.mb-50
                            a(href="download.html")
                                img(src="img/demo-img/download.png", alt="")
                            h6 Download
                            
                    // Single Demo
                    .col-12.col-sm-6.col-lg-4
                        .card.demo-card.text-center.mb-50
                            a(href="maintenance.html")
                                img(src="img/demo-img/maintenence.png", alt="")
                            h6 Maintenence Mood
                            
                    // Single Demo
                    .col-12.col-sm-6.col-lg-4
                        .card.demo-card.text-center.mb-50
                            a(href="404.html")
                                img(src="img/demo-img/404.png", alt="")
                            h6 404
                            
                    // Single Demo
                    .col-12.col-sm-6.col-lg-4
                        .card.demo-card.text-center.mb-50
                            a(href="thank-you.html")
                                img(src="img/demo-img/thank-you.png", alt="")
                            h6 Thank you
                            
                    // Single Demo
                    .col-12.col-sm-6.col-lg-4
                        .card.demo-card.text-center.mb-50
                            a(href="subscribe-confirmation.html")
                                img(src="img/demo-img/subscribed.png", alt="")
                            h6 Subscribed Confirm
                            
                    // Single Demo
                    .col-12.col-sm-6.col-lg-4
                        .card.demo-card.text-center.mb-50
                            a(href="blog-card.html")
                                img(src="img/demo-img/blog-card.png", alt="")
                            h6 Blog Card
                            
                    // Single Demo
                    .col-12.col-sm-6.col-lg-4
                        .card.demo-card.text-center.mb-50
                            a(href="blog-card-sidebar.html")
                                img(src="img/demo-img/blog-card-sidebar.png", alt="")
                            h6 Blog Card Sidebar
                            
                    // Single Demo
                    .col-12.col-sm-6.col-lg-4
                        .card.demo-card.text-center.mb-50
                            a(href="blog-full.html")
                                img(src="img/demo-img/blog-full.png", alt="")
                            h6 Blog Full
                            
                    // Single Demo
                    .col-12.col-sm-6.col-lg-4
                        .card.demo-card.text-center.mb-50
                            a(href="blog-left-sidebar.html")
                                img(src="img/demo-img/blog-left-sidebar.png", alt="")
                            h6 Blog Left Sidebar
                            
                    // Single Demo
                    .col-12.col-sm-6.col-lg-4
                        .card.demo-card.text-center.mb-50
                            a(href="blog-right-sidebar.html")
                                img(src="img/demo-img/blog-right-sidebar.png", alt="")
                            h6 Blog Right Sidebar
                            
                    // Single Demo
                    .col-12.col-sm-6.col-lg-4
                        .card.demo-card.text-center.mb-50
                            a(href="blog-details-full.html")
                                img(src="img/demo-img/blog-details1.png", alt="")
                            h6 Blog Details 1
                            
                    // Single Demo
                    .col-12.col-sm-6.col-lg-4
                        .card.demo-card.text-center.mb-50
                            a(href="blog-details-left-sidebar.html")
                                img(src="img/demo-img/blog-details2.png", alt="")
                            h6 Blog Details 2
                            
                    // Single Demo
                    .col-12.col-sm-6.col-lg-4
                        .card.demo-card.text-center.mb-50
                            a(href="blog-details-right-sidebar.html")
                                img(src="img/demo-img/blog-details3.png", alt="")
                            h6 Blog Details 3

        // Features Area
        .using_benefits_area.section_padding_130_80.clearfix
            .container
                .row.justify-content-center
                    .col-12.col-sm-8.col-lg-6
                        // Section Heading
                        .section_heading.white.text-center
                            h6 Using Benefits
                            h3 Apland has awesome stunning feature for your next website.
                            .line

                .row

                    // Single Benifits Area
                    .col-12.col-sm-6.col-lg-4
                        .single_benifits.d-flex.align-items-center
                            .icon_box.bg-transparent.mr-0
                                i.lni-check-mark-circle
                            .benifits_text
                                h5.mb-0 Modern Design

                    // Single Benifits Area
                    .col-12.col-sm-6.col-lg-4
                        .single_benifits.d-flex.align-items-center
                            .icon_box.bg-transparent.mr-0
                                i.lni-check-mark-circle
                            .benifits_text
                                h5.mb-0 Fast Loading

                    // Single Benifits Area
                    .col-12.col-sm-6.col-lg-4
                        .single_benifits.d-flex.align-items-center
                            .icon_box.bg-transparent.mr-0
                                i.lni-check-mark-circle
                            .benifits_text
                                h5.mb-0 Super Responsive

                    // Single Benifits Area
                    .col-12.col-sm-6.col-lg-4
                        .single_benifits.d-flex.align-items-center
                            .icon_box.bg-transparent.mr-0
                                i.lni-check-mark-circle
                            .benifits_text
                                h5.mb-0 Bug Free Code

                    // Single Benifits Area
                    .col-12.col-sm-6.col-lg-4
                        .single_benifits.d-flex.align-items-center
                            .icon_box.bg-transparent.mr-0
                                i.lni-check-mark-circle
                            .benifits_text
                                h5.mb-0 8 Home Pages

                    // Single Benifits Area
                    .col-12.col-sm-6.col-lg-4
                        .single_benifits.d-flex.align-items-center
                            .icon_box.bg-transparent.mr-0
                                i.lni-check-mark-circle
                            .benifits_text
                                h5.mb-0 Retina Ready

                    // Single Benifits Area
                    .col-12.col-sm-6.col-lg-4
                        .single_benifits.d-flex.align-items-center
                            .icon_box.bg-transparent.mr-0
                                i.lni-check-mark-circle
                            .benifits_text
                                h5.mb-0 Bootstrap 4.5.0

                    // Single Benifits Area
                    .col-12.col-sm-6.col-lg-4
                        .single_benifits.d-flex.align-items-center
                            .icon_box.bg-transparent.mr-0
                                i.lni-check-mark-circle
                            .benifits_text
                                h5.mb-0 npm

                    // Single Benifits Area
                    .col-12.col-sm-6.col-lg-4
                        .single_benifits.d-flex.align-items-center
                            .icon_box.bg-transparent.mr-0
                                i.lni-check-mark-circle
                            .benifits_text
                                h5.mb-0 SCSS Support

                    // Single Benifits Area
                    .col-12.col-sm-6.col-lg-4
                        .single_benifits.d-flex.align-items-center
                            .icon_box.bg-transparent.mr-0
                                i.lni-check-mark-circle
                            .benifits_text
                                h5.mb-0 Pug

                    // Single Benifits Area
                    .col-12.col-sm-6.col-lg-4
                        .single_benifits.d-flex.align-items-center
                            .icon_box.bg-transparent.mr-0
                                i.lni-check-mark-circle
                            .benifits_text
                                h5.mb-0 Gulp 4

                    // Single Benifits Area
                    .col-12.col-sm-6.col-lg-4
                        .single_benifits.d-flex.align-items-center
                            .icon_box.bg-transparent.mr-0
                                i.lni-check-mark-circle
                            .benifits_text
                                h5.mb-0 jQuery 2.2.4

                    // Single Benifits Area
                    .col-12.col-sm-6.col-lg-4
                        .single_benifits.d-flex.align-items-center
                            .icon_box.bg-transparent.mr-0
                                i.lni-check-mark-circle
                            .benifits_text
                                h5.mb-0 Ajax Contact Form

                    // Single Benifits Area
                    .col-12.col-sm-6.col-lg-4
                        .single_benifits.d-flex.align-items-center
                            .icon_box.bg-transparent.mr-0
                                i.lni-check-mark-circle
                            .benifits_text
                                h5.mb-0 Cross Browser Support

                    // Single Benifits Area
                    .col-12.col-sm-6.col-lg-4
                        .single_benifits.d-flex.align-items-center
                            .icon_box.bg-transparent.mr-0
                                i.lni-check-mark-circle
                            .benifits_text
                                h5.mb-0 Premium Navbar

                    // Single Benifits Area
                    .col-12.col-sm-6.col-lg-4
                        .single_benifits.d-flex.align-items-center
                            .icon_box.bg-transparent.mr-0
                                i.lni-check-mark-circle
                            .benifits_text
                                h5.mb-0 100% Validate Code

                    // Single Benifits Area
                    .col-12.col-sm-6.col-lg-4
                        .single_benifits.d-flex.align-items-center
                            .icon_box.bg-transparent.mr-0
                                i.lni-check-mark-circle
                            .benifits_text
                                h5.mb-0 Parallax Effect

                    // Single Benifits Area
                    .col-12.col-sm-6.col-lg-4
                        .single_benifits.d-flex.align-items-center
                            .icon_box.bg-transparent.mr-0
                                i.lni-check-mark-circle
                            .benifits_text
                                h5.mb-0 23 Inner Pages

                    // Single Benifits Area
                    .col-12.col-sm-6.col-lg-4
                        .single_benifits.d-flex.align-items-center
                            .icon_box.bg-transparent.mr-0
                                i.lni-check-mark-circle
                            .benifits_text
                                h5.mb-0 Blog Pages

                    // Single Benifits Area
                    .col-12.col-sm-6.col-lg-4
                        .single_benifits.d-flex.align-items-center
                            .icon_box.bg-transparent.mr-0
                                i.lni-check-mark-circle
                            .benifits_text
                                h5.mb-0 Popup Video

                    // Single Benifits Area
                    .col-12.col-sm-6.col-lg-4
                        .single_benifits.d-flex.align-items-center
                            .icon_box.bg-transparent.mr-0
                                i.lni-check-mark-circle
                            .benifits_text
                                h5.mb-0 Owl Carousel 2

                    // Single Benifits Area
                    .col-12.col-sm-6.col-lg-4
                        .single_benifits.d-flex.align-items-center
                            .icon_box.bg-transparent.mr-0
                                i.lni-check-mark-circle
                            .benifits_text
                                h5.mb-0 Login/Register

                    // Single Benifits Area
                    .col-12.col-sm-6.col-lg-4
                        .single_benifits.d-flex.align-items-center
                            .icon_box.bg-transparent.mr-0
                                i.lni-check-mark-circle
                            .benifits_text
                                h5.mb-0 Coming Soon

                    // Single Benifits Area
                    .col-12.col-sm-6.col-lg-4
                        .single_benifits.d-flex.align-items-center
                            .icon_box.bg-transparent.mr-0
                                i.lni-check-mark-circle
                            .benifits_text
                                h5.mb-0 Google Fonts

                    // Single Benifits Area
                    .col-12.col-sm-6.col-lg-4
                        .single_benifits.d-flex.align-items-center
                            .icon_box.bg-transparent.mr-0
                                i.lni-check-mark-circle
                            .benifits_text
                                h5.mb-0 Cool Animation

                    // Single Benifits Area
                    .col-12.col-sm-6.col-lg-4
                        .single_benifits.d-flex.align-items-center
                            .icon_box.bg-transparent.mr-0
                                i.lni-check-mark-circle
                            .benifits_text
                                h5.mb-0 Timeline

                    // Single Benifits Area
                    .col-12.col-sm-6.col-lg-4
                        .single_benifits.d-flex.align-items-center
                            .icon_box.bg-transparent.mr-0
                                i.lni-check-mark-circle
                            .benifits_text
                                h5.mb-0 Price Table

                    // Single Benifits Area
                    .col-12.col-sm-6.col-lg-4
                        .single_benifits.d-flex.align-items-center
                            .icon_box.bg-transparent.mr-0
                                i.lni-check-mark-circle
                            .benifits_text
                                h5.mb-0 Background Video

                    // Single Benifits Area
                    .col-12.col-sm-6.col-lg-4
                        .single_benifits.d-flex.align-items-center
                            .icon_box.bg-transparent.mr-0
                                i.lni-check-mark-circle
                            .benifits_text
                                h5.mb-0 FAQ

                    // Single Benifits Area
                    .col-12.col-sm-6.col-lg-4
                        .single_benifits.d-flex.align-items-center
                            .icon_box.bg-transparent.mr-0
                                i.lni-check-mark-circle
                            .benifits_text
                                h5.mb-0 Google Maps

        include inc/footer.pug

        include inc/plugins.pug