// About App Area
section.about_app_area.section_padding_130
    .container
        .row.justify-content-center.align-items-center
            // About Image
            .col-12.col-md-6.col-lg-5
                .about_image.mb-5.mb-md-0
                    .big_thumb.wow.fadeInLeft(data-wow-delay="0.2s")
                        img(src="img/bg-img/about-app-1.png", alt="")
                    .small_thumb.wow.fadeInLeft(data-wow-delay="0.4s")
                        img(src="img/bg-img/about-app-2.png", alt="")

            // About Text
            .col-12.col-md-6.col-lg-5
                .about_us_text_area.wow.fadeInUp(data-wow-delay="0.2s")
                    h3 Modern, User Friendly &amp; Powerful Interface
                    p Appland is completely creative, lightweight, clean &amp; super responsive app landing page. Put your app sales or promotions into next level with it.
                    .border-top.mb-3
                    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Ut aspernatur modi dolore vel corrupti rerum soluta, dignissimos doloribus repellat maiores enim, labore facilis voluptatibus inventore commodi, similique incidunt dolorem!
                    a.btn.apland-btn.mt-15(href="#") Learn more