// Features Area
section.using_benefits_area.section_padding_130#benefits
    // Benefit Top Background
    .benefit-top-thumbnail
        img(src="img/core-img/video-bottom.png", alt="")

    // Benefit Top Background
    .benefit-bottom-thumbnail
        img(src="img/core-img/benefit-bottom.png", alt="")

    .container
        .row.justify-content-center
            .col-12.col-sm-8.col-lg-6
                // Section Heading
                .section_heading.white.text-center.wow.fadeInUp(data-wow-delay="0.2s")
                    h6 Using Benefits
                    h3 Apland has awesome stunning feature for your next website.
                    .line

        .row
            // Single Benifits Area
            .col-12.col-sm-6.col-lg-4
                .single_benifits.d-flex.wow.fadeInUp(data-wow-delay="200ms")
                    .icon_box
                        i.lni-heart
                    .benifits_text
                        h5 Simple &amp; Light
                        p Appland is completely creative, lightweight, clean &amp; super responsive app landing page.
                        a(href="#") Explore More

            // Single Benifits Area
            .col-12.col-sm-6.col-lg-4
                .single_benifits.d-flex.wow.fadeInUp(data-wow-delay="200ms")
                    .icon_box
                        i.lni-color-pallet
                    .benifits_text
                        h5 Stunning Design
                        p Appland is completely creative, lightweight, clean &amp; super responsive app landing page.
                        a(href="#") Explore More

            // Single Benifits Area
            .col-12.col-sm-6.col-lg-4
                .single_benifits.d-flex.wow.fadeInUp(data-wow-delay="200ms")
                    .icon_box
                        i.lni-grid-alt
                    .benifits_text
                        h5 Super Responsive
                        p Appland is completely creative, lightweight, clean &amp; super responsive app landing page.
                        a(href="#") Explore More

            // Single Benifits Area
            .col-12.col-sm-6.col-lg-4
                .single_benifits.d-flex.wow.fadeInUp(data-wow-delay="200ms")
                    .icon_box
                        i.lni-bug
                    .benifits_text
                        h5 Bug Free Code
                        p Appland is completely creative, lightweight, clean &amp; super responsive app landing page.
                        a(href="#") Explore More

            // Single Benifits Area
            .col-12.col-sm-6.col-lg-4
                .single_benifits.d-flex.wow.fadeInUp(data-wow-delay="200ms")
                    .icon_box
                        i.lni-brush
                    .benifits_text
                        h5 10+ Color Variations
                        p Appland is completely creative, lightweight, clean &amp; super responsive app landing page.
                        a(href="#") Explore More

            // Single Benifits Area
            .col-12.col-sm-6.col-lg-4
                .single_benifits.d-flex.wow.fadeInUp(data-wow-delay="200ms")
                    .icon_box
                        i.lni-sprout
                    .benifits_text
                        h5 Retina Ready
                        p Appland is completely creative, lightweight, clean &amp; super responsive app landing page.
                        a(href="#") Explore More
        .row
            .col-12.text-center.wow.fadeInUp(data-wow-delay="0.2s")
                a.btn.apland-btn(href="about-us.html") View All Benefits