// CTA Area
.cta-area.section_padding_130_80
    .container
        .row.align-items-center.justify-content-between
            .col-12.col-sm-8
                .cta-content.mb-50
                    h3.mb-0 Have questions, or want to talk about working with us?

            .col-12.col-sm-4.text-sm-right
                a.btn.apland-btn.btn-4.mb-50(href="#") Let's talk Us