// Download App Area
.download_app_area.section_padding_130_80#download
    .container
        .row
            .col-12
                // Section Heading
                .section_heading.white.text-center
                    h6 Download App
                    h3 Try Apland for 7 days, for free!
                    p Appland is completely creative, lightweight responsive app landing page.
                    .line.bg-white
                    
                // Download Text
                .download_app_text.text-center
                    a(href="download.html")
                        img(src="img/core-img/google-play.png", alt="")
                    a(href="download.html")
                        img(src="img/core-img/app-store.png", alt="")
                    .download_img.wow.fadeInDown(data-wow-delay="0.5s")
                        img(src="img/bg-img/download-mobile.png", alt="")