// Extra Features Area
section.main_features_area.bg-gray.section_padding_130
    .container
        .row.align-items-center.justify-content-between
            .col-12.col-sm-10.col-md-6
                // Section Heading
                .section_heading.wow.fadeInUp(data-wow-delay="0.2s")
                    h6 Extra Performance
                    h3 Some extra core features available in 
                        span Apland
                    .line.mr-auto.ml-0

                // Single Item
                .single_benifits.d-flex.wow.fadeInUp(data-wow-delay="0.2s")
                    .icon_box.mr-30
                        i.lni-bi-cycle
                    .single_benifits_text
                        h5 Simple &amp; Light
                        p Appland is completely creative, lightweight, clean &amp; super responsive app landing page.

                // Single Item
                .single_benifits.d-flex.wow.fadeInUp(data-wow-delay="0.2s")
                    .icon_box.mr-30
                        i.lni-color-pallet
                    .single_benifits_text
                        h5 Stunning Design
                        p Appland is completely creative, lightweight, clean &amp; super responsive app landing page.

                // Single Item
                .single_benifits.d-flex.wow.fadeInUp(data-wow-delay="0.2s")
                    .icon_box.mr-30
                        i.lni-flower
                    .single_benifits_text
                        h5 Super Responsive
                        p Appland is completely creative, lightweight, clean &amp; super responsive app landing page.

            .col-12.col-md-6.col-lg-5
                .main_features_thumbnail.mt-5.mt-md-0
                    img(src="img/bg-img/hero-4.png", alt="")