// App Features Area
section.about_area.section_padding_130#features
    .container
        .row.justify-content-center
            .col-12.col-sm-8.col-lg-6
                // Section Heading
                .section_heading.text-center.wow.fadeInUp(data-wow-delay="0.2s")
                    h6 The Bright Feature
                    h3 A simple, smart &amp; 
                        span proven way 
                        |  to boost your site performance.
                    .line
            
        .row.justify-content-center.align-items-center

            .col-12.col-sm-8.col-md-6.col-lg-4
                .about_product_discription
                    .row
                        // Single About Area
                        .col-12
                            .single_about_part.wow.fadeInUp(data-wow-delay="0.2s")
                                .feature_icon
                                    i.lni-baloon
                                h6 Lightweight
                                p Appland is completely creative &amp; lightweight template.

                        // Single About Area
                        .col-12
                            .single_about_part.wow.fadeInUp(data-wow-delay="0.3s")
                                .feature_icon
                                    i.lni-layers
                                h6 Flexible
                                p Appland is completely creative &amp; lightweight template.
                                
                        // Single About Area
                        .col-12
                            .single_about_part.wow.fadeInUp(data-wow-delay="0.4s")
                                .feature_icon
                                    i.lni-ruler-pencil
                                h6 Stunning Design
                                p Appland is completely creative &amp; lightweight template.

            // Product Thumb Area
            .col-12.col-md-8.col-lg-4
                .about_product_thumb.text-center.my-5.my-lg-0
                    img(src="img/bg-img/features-img.png", alt="")

            .col-12.col-sm-8.col-md-6.col-lg-4
                .about_product_discription
                    .row
                        // Single About Area
                        .col-12
                            .single_about_part.wow.fadeInUp(data-wow-delay="0.2s")
                                .feature_icon
                                    i.lni-mobile
                                h6 Super Responsive
                                p Appland is completely creative &amp; lightweight template.

                        // Single About Area
                        .col-12
                            .single_about_part.wow.fadeInUp(data-wow-delay="0.3s")
                                .feature_icon
                                    i.lni-code
                                h6 Clean Code
                                p Appland is completely creative &amp; lightweight template.

                        // Single About Area
                        .col-12
                            .single_about_part.wow.fadeInUp(data-wow-delay="0.4s")
                                .feature_icon
                                    i.lni-bulb
                                h6 Retina Ready
                                p Appland is completely creative &amp; lightweight template.