// Footer Area
footer.footer_area.section_padding_130_0
    .container
        .row
            // Single Widget
            .col-12.col-sm-6.col-lg-4
                .single-footer-widget.section_padding_0_130
                    // Footer Logo
                    .footer-logo.mb-3
                        a(href="index.html")
                            img(src="img/core-img/logo.png", alt="")

                    p Appland is completely creative, lightweight, clean app landing page.

                    // Copywrite Text
                    .copywrite-text.mb-5
                        p.mb-0 Made with 
                            i.lni-heart.mr-1
                            | by
                            a.ml-1(href="https://wrapbootstrap.com/user/DesigningWorld") Designing World

                    // Footer Social Area
                    .footer_social_area
                        a(href="#" data-toggle="tooltip" data-placement="top" title="Facebook")
                            i.fa.fa-facebook
                        a(href="#" data-toggle="tooltip" data-placement="top" title="Pinterest")
                            i.fa.fa-pinterest
                        a(href="#" data-toggle="tooltip" data-placement="top" title="Skype")
                            i.fa.fa-skype
                        a(href="#" data-toggle="tooltip" data-placement="top" title="Twitter")
                            i.fa.fa-twitter
            
            // Single Widget
            .col-12.col-sm-6.col-lg
                .single-footer-widget.section_padding_0_130
                    // Widget Title
                    h5.widget-title About

                    // Footer Menu
                    .footer_menu
                        ul
                            li
                                a(href="#") About Us
                            li
                                a(href="#") Corporate Sale
                            li
                                a(href="#") Terms &amp; Policy
                            li
                                a(href="#") Community

            // Single Widget
            .col-12.col-sm-6.col-lg
                .single-footer-widget.section_padding_0_130
                    // Widget Title
                    h5.widget-title Support

                    // Footer Menu
                    .footer_menu
                        ul
                            li
                                a(href="#") Help
                            li
                                a(href="#") Support
                            li
                                a(href="#") Privacy Policy
                            li
                                a(href="#") Term &amp; Conditions
                            li
                                a(href="#") Help &amp; Support

            // Single Widget
            .col-12.col-sm-6.col-lg
                .single-footer-widget.section_padding_0_130
                    // Widget Title
                    h5.widget-title Contact

                    // Footer Menu
                    .footer_menu
                        ul
                            li
                                a(href="#") Call Centre
                            li
                                a(href="#") Email Us
                            li
                                a(href="#") Term &amp; Conditions
                            li
                                a(href="#") Help Center