// Get Started Area
section.get-started-area.section_padding_130_0
    .container        
        .row.justify-content-center
            .col-12.col-sm-8.col-lg-6
                // Section Heading
                .section_heading.text-center
                    h3 Get the brand new <br> Apland 4.4 today
                    p Appland is completely creative, lightweight, clean &amp; super responsive app landing page.
                    .line

        .row
            .col-12
                // Total User Text
                .total_subscriber_text.text-center
                    h4.mb-0
                        span.counter 12,89,1476 
                        |  User have been using our Apps successfully.
                    a.btn.apland-btn.mt-5(href="#") Try 15 Days Free Trial

        .row
            .col-12
                // CTA Thumbnail
                .cta-thumbnail.section_padding_130_0
                    img.w-100(src="img/bg-img/cta.jpg", alt="")