// Header Area
header.header_area.white-nav
    .main_header_area
        .container
            .classy-nav-container.breakpoint-off
                nav.classy-navbar.justify-content-between#aplandNav
                    // Logo
                    a.nav-brand(href="index.html")
                        img(src="img/core-img/logo-white.png", alt="")

                    // Navbar Toggler
                    .classy-navbar-toggler
                        span.navbarToggler
                            span
                            span
                            span

                    // Menu
                    .classy-menu
                        // Close Button
                        .classycloseIcon
                            .cross-wrap
                                span.top
                                span.bottom

                        // Nav
                        .classynav
                            ul#corenav
                                li
                                    a(href="#home") Home
                                    ul.dropdown
                                        li
                                            a(href="apland-barisal.html") Apland - Barisal
                                        li
                                            a(href="apland-chattagram.html") Apland - Chattagram
                                        li
                                            a(href="apland-dhaka.html") Apland - Dhaka
                                        li
                                            a(href="apland-khulna.html") Apland - Khulna
                                        li
                                            a(href="apland-mymensingh.html") Apland - Mymensingh
                                        li
                                            a(href="apland-rajshahi.html") Apland - Rajshahi
                                        li
                                            a(href="apland-rangpur.html") Apland - Rangpur
                                        li
                                            a(href="apland-sylhet.html") Apland - Sylhet
                                li
                                    a(href="#features") Features
                                li
                                    a(href="#") Pages
                                    .megamenu
                                        ul.single-mega.cn-col-4
                                            li.title Home Variations
                                            li
                                                a(href="apland-barisal.html") Apland - Barisal
                                            li
                                                a(href="apland-chattagram.html") Apland - Chattagram
                                            li
                                                a(href="apland-dhaka.html") Apland - Dhaka
                                            li
                                                a(href="apland-khulna.html") Apland - Khulna
                                            li
                                                a(href="apland-mymensingh.html") Apland - Mymensingh
                                            li
                                                a(href="apland-rajshahi.html") Apland - Rajshahi
                                            li
                                                a(href="apland-rangpur.html") Apland - Rangpur
                                            li
                                                a(href="apland-sylhet.html") Apland - Sylhet

                                        ul.single-mega.cn-col-4
                                            li.title Inner Pages
                                            li
                                                a(href="about-us.html") About Us
                                            li
                                                a(href="pricing-plan.html") Pricing Plan
                                            li
                                                a(href="client-reviews.html") Client Reviews
                                            li
                                                a(href="faq.html") FAQ
                                            li
                                                a(href="contact.html") Contact
                                            li
                                                a(href="register.html") Register
                                            li
                                                a(href="login.html") Login
                                            li
                                                a(href="coming-soon.html") Coming Soon

                                        ul.single-mega.cn-col-4
                                            li.title Inner Pages
                                            li
                                                a(href="forget-password.html") Forget Password
                                            li
                                                a(href="newsletter.html") Newsletter
                                            li
                                                a(href="download.html") Download
                                            li
                                                a(href="maintenance.html") Maintenance
                                            li
                                                a(href="404.html") Error 404
                                            li
                                                a(href="thank-you.html") Thank You
                                            li
                                                a(href="subscribe-confirmation.html") Subscribe Confirmation
                                            li
                                                a(href="#") More Coming Soon

                                        ul.single-mega.cn-col-4
                                            li.title Blog Pages
                                            li
                                                a(href="blog-card.html") Blog Card
                                            li
                                                a(href="blog-card-sidebar.html") Blog Card Sidebar
                                            li
                                                a(href="blog-full.html") Blog Full
                                            li
                                                a(href="blog-left-sidebar.html") Blog Left Sidebar
                                            li
                                                a(href="blog-right-sidebar.html") Blog Right Sidebar
                                            li
                                                a(href="blog-details-full.html") Blog Details Full
                                            li
                                                a(href="blog-details-left-sidebar.html") Blog Details Left Sidebar
                                            li
                                                a(href="blog-details-right-sidebar.html") Blog Details Right Sidebar

                                li
                                    a(href="#download") Download
                                
                                li
                                    a(href="#") Blog
                                    ul.dropdown
                                        li
                                            a(href="blog-card.html") Blog Card
                                        li
                                            a(href="blog-card-sidebar.html") Blog Card Sidebar
                                        li
                                            a(href="blog-full.html") Blog Full
                                        li
                                            a(href="blog-left-sidebar.html") Blog Left Sidebar
                                        li
                                            a(href="blog-right-sidebar.html") Blog Right Sidebar
                                        li
                                            a(href="blog-details-full.html") Blog Details Full
                                        li
                                            a(href="blog-details-left-sidebar.html") Blog Details Left Sidebar
                                        li
                                            a(href="blog-details-right-sidebar.html") Blog Details Right Sidebar

                                li
                                    a(href="#contact") Contact

                            // Login Button
                            .login-btn-area.ml-5.mt-5.mt-lg-0
                                a.btn.apland-btn.btn-4(href="#") Get Started