// Welcome Area
.hero-sylhet.welcome_area#home
    // Background Shape
    .background-shapes
        .box1
        .box2
        .box3
        .dot1
        .dot2
        .dot3
        .dot4
        .heart1
            i.lni-heart
        .heart2
            i.i.lni-heart

    .container
        .row.justify-content-center.align-items-center.mb-100
            .col-12.col-md-8
                // Welcome Content
                .welcome_text_area.text-center
                    h2.text-white There’s a better way to increase your sales.
                    h5.text-white Appland is completely creative, lightweight, clean &amp; super responsive app landing page. Put your app sales or promotions into next level with it.
                    a.btn.apland-btn.btn-4.mt-30(href="#") Start A Free Trial

        .row
            .col-12
                .welcome-thumbnail
                    img(src="img/bg-img/testimonials.jpg", alt="")