// Welcome Area
section.welcome_area.hero-dhaka.bg-img#home(style="background-image: url(img/bg-img/hero-6.jpg);")
    .container.h-100
        .row.h-100.align-items-center.justify-content-center
            .col-12.col-sm-10.col-lg-8
                // Welcome Area Content
                .welcome_text_area.text-center
                    h2.wow.fadeInUp(data-wow-delay="0.2s")
                        | Powerful and  
                        span  creative 
                        |  website for your needs.
                    h5.wow.fadeInUp(data-wow-delay="0.3s") Appland is completely creative, lightweight, clean &amp; super responsive app landing page.

                    // Subscribe Area
                    form.subscribe-form.wow.fadeInUp(data-wow-delay="0.4s", action="#")
                        input.form-control(type="email", name="email", placeholder="support@apland.com", required)
                        button(type="submit") Get Started