// Welcome Area
section.hero-rangpur.welcome_area.bg-img.jarallax#home(data-jarallax-video="https://www.youtube.com/watch?v=0Ng3U9yWJHI")
    .container.h-100
        .row.h-100.justify-content-center.align-items-center
            .col-12.col-md-8.col-lg-6
                .welcome_text_area.text-center
                    h2 Be accomplished
                    h5 Appland is completely creative, lightweight, clean &amp; super responsive app landing page.
                    // Subscribe Area
                    form.subscribe-form(action="#")
                        input.form-control(type="email", name="email", placeholder="info@apland.com", required)
                        button(type="submit") Get Started
                        span.text-white.mt-2
                            i.lni-lock.mr-1
                            | We'll never share your email with anyone else.