// Organize Sales
section.organize-your-sales.section_padding_130_0
    .container
        .row.justify-content-center
            .col-12.col-sm-8.col-lg-6
                // Section Heading
                .section_heading.text-center
                    h6 Awesome Features
                    h3 Organize your sales &amp; commission with Apland
                    .line

        .row.justify-content-center
            .col-12.col-lg-10
                .organize-your-sales-content.text-center.mb-5
                    p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Totam dolores, mollitia veritatis quia quos dolorum odit quo amet! Provident at sit tenetur corporis ad suscipit fugiat, accusamus fugit. Iusto, quam cupiditate saepe dolor, magni laudantium reprehenderit nemo blanditiis ab labore atque.

        .row
            .col-12
                .organize-your-sales-thumb
                    img(src="img/bg-img/hero-5.png", alt="")