// Partner Area
.our-partner-area
    .container
        .row
            .col-12
                .our-partner-slides.owl-carousel
                    .single-partner
                        img(src="img/bg-img/1.png" alt="")
                    .single-partner
                        img(src="img/bg-img/2.png" alt="")
                    .single-partner
                        img(src="img/bg-img/3.png" alt="")
                    .single-partner
                        img(src="img/bg-img/4.png" alt="")
                    .single-partner
                        img(src="img/bg-img/5.png" alt="")
                    .single-partner
                        img(src="img/bg-img/6.png" alt="")
                    .single-partner
                        img(src="img/bg-img/1.png" alt="")
                    .single-partner
                        img(src="img/bg-img/2.png" alt="")
                    .single-partner
                        img(src="img/bg-img/3.png" alt="")
                    .single-partner
                        img(src="img/bg-img/4.png" alt="")
                    .single-partner
                        img(src="img/bg-img/5.png" alt="")
                    .single-partner
                        img(src="img/bg-img/6.png" alt="")
            
            .col-12
                .p-border-bottom