// jQuery(necessary for all JavaScript plugins)
script(src="js/jquery.min.js")
script(src="js/popper.min.js")
script(src="js/bootstrap.min.js")
script(src="js/owl.carousel.min.js")
script(src="js/waypoints.min.js")
script(src="js/jquery.easing.min.js")
script(src="js/default/classy-nav.min.js")
script(src="js/default/sticky.js")
script(src="js/default/mail.js")
script(src="js/default/scrollup.min.js")
script(src="js/default/one-page-nav.js")
script(src="js/jarallax.min.js")
script(src="js/jarallax-video.min.js")
script(src="js/jquery.counterup.min.js")
script(src="js/jquery.countdown.min.js")
script(src="js/jquery.magnific-popup.min.js")
script(src="js/wow.min.js")
script(src="js/default/active.js")