// Price and Plans Area
section.price_plan_area.section_padding_130_80#pricing
    .container
        .row.justify-content-center
            .col-12.col-sm-8.col-lg-6
                // Section Heading
                .section_heading.text-center.wow.fadeInUp(data-wow-delay="0.2s")
                    h6 Pricing Plans
                    h3 Let's find a way together
                    p Appland is completely creative, lightweight, clean &amp; super responsive app landing page.
                    .line

        .row.justify-content-center

            // Single Price Plan Area
            .col-12.col-sm-8.col-md-6.col-lg-4
                .single_price_plan.wow.fadeInUp(data-wow-delay="0.2s")
                    .title
                        h3 Start Up
                        p Start a trial
                        .line
                    .price
                        h4 $0
                    .description
                        p
                            i.lni-check-mark-circle
                            | Duration: 7days
                        p
                            i.lni-check-mark-circle
                            | 10 Features
                        p
                            i.lni-close
                            | No Hidden Fees
                        p
                            i.lni-close
                            | 100+ Video Tuts
                        p
                            i.lni-close
                            | No Tools
                    .button
                        a.btn.apland-btn.btn-2(href="#") Get Started

            // Single Price Plan Area
            .col-12.col-sm-8.col-md-6.col-lg-4
                .single_price_plan.active.wow.fadeInUp(data-wow-delay="0.2s")
                    // Side Shape
                    .side-shape
                        img(src="img/core-img/popular.png", alt="")
                    .title
                        span Popular
                        h3 Small Business
                        p For Small Business Team
                        .line
                    .price
                        h4 $9.99
                    .description
                        p
                            i.lni-check-mark-circle
                            | Duration: 3 Month
                        p
                            i.lni-check-mark-circle
                            | 50 Features
                        p
                            i.lni-check-mark-circle
                            | No Hidden Fees
                        p
                            i.lni-check-mark-circle
                            | 150+ Video Tuts
                        p
                            i.lni-close
                            | 5 Tools
                    .button
                        a.btn.apland-btn(href="#") Get Started

            // Single Price Plan Area
            .col-12.col-sm-8.col-md-6.col-lg-4
                .single_price_plan.wow.fadeInUp(data-wow-delay="0.2s")
                    .title
                        h3 Enterprise
                        p Unlimited Possibilities
                        .line
                    .price
                        h4 $49.99
                    .description
                        p
                            i.lni-check-mark-circle
                            | Duration: 1 year
                        p
                            i.lni-check-mark-circle
                            | Unlimited Features
                        p
                            i.lni-check-mark-circle
                            | No Hidden Fees
                        p
                            i.lni-check-mark-circle
                            | Unlimited Video Tuts
                        p
                            i.lni-check-mark-circle
                            | Unlimited Tools
                    .button
                        a.btn.apland-btn.btn-2(href="#") Get Started