// Search Form
.single-widget-area.mb-50
    form.widget-form(action="#", method="post")
        input.form-control(type="search", placeholder="Search")
        button(type="submit")
            i.fa.fa-search

// Catagories List
.single-widget-area.mb-50
    h4.widget-title.mb-30 Categories

    // Cata List
    ul.catagories-list
        li
            a(href="#")
                i.fa.fa-angle-double-right 
                | Marketing
        li
            a(href="#")
                i.fa.fa-angle-double-right 
                | App Landing
        li
            a(href="#")
                i.fa.fa-angle-double-right 
                | Business &amp; Corporate
        li
            a(href="#")
                i.fa.fa-angle-double-right 
                | E-commerce
        li
            a(href="#")
                i.fa.fa-angle-double-right 
                | Landing Pages
        li
            a(href="#")
                i.fa.fa-angle-double-right 
                | Business Ideas

// Recent Post
.single-widget-area.mb-50
    h4.widget-title.mb-30 Recent Posts

    // Single Recent Post
    .single-recent-post.d-flex
        // Thumb
        .post-thumb
            a(href="#")
                img(src="img/blog-img/9.jpg", alt="")
        // Content
        .post-content
            a.post-title(href="#") For 5 years we have been developing
            p.post-date Jun 9, 2020

    // Single Recent Post
    .single-recent-post.d-flex
        // Thumb
        .post-thumb
            a(href="#")
                img(src="img/blog-img/10.jpg", alt="")
        // Content
        .post-content
            a.post-title(href="#") This is sign you have been looking for
            p.post-date Jun 8, 2020

    // Single Recent Post
    .single-recent-post.d-flex
        // Thumb
        .post-thumb
            a(href="#")
                img(src="img/blog-img/11.jpg", alt="")
        // Content
        .post-content
            a.post-title(href="#") Three men laughing while looking in the laptop inside room
            p.post-date Jun 7, 2020

    // Single Recent Post
    .single-recent-post.d-flex
        // Thumb
        .post-thumb
            a(href="#")
                img(src="img/blog-img/12.jpg", alt="")
        // Content
        .post-content
            a.post-title(href="#") Architectural photography of building with people
            p.post-date Jun 6, 2020

// Popular Tags
.single-widget-area
    h4.widget-title.mb-30 Popular Tags

    ul.popular-tags
        li
            a(href="#") App
        li
            a(href="#") Landing
        li
            a(href="#") Apps
        li
            a(href="#") Bootstrap 4
        li
            a(href="#") Clean
        li
            a(href="#") Creative
        li
            a(href="#") Marketing
        li
            a(href="#") Minimal