// Our Advisor Area
section.our_advisor_area.section_padding_130_80#advisor
    .container
        .row.justify-content-center
            .col-12.col-sm-8.col-lg-6
                // Section Heading
                .section_heading.text-center.wow.fadeInUp(data-wow-delay="0.2s")
                    h3 Our Creative 
                        span  Team
                    p Appland is completely creative, lightweight, clean &amp; super responsive app landing page.
                    .line

        .row
            // Single Advisor
            .col-12.col-sm-6.col-lg-3
                .single_advisor_profile.wow.fadeInUp(data-wow-delay="0.2s")
                    // Team Thumb
                    .advisor_thumb
                        img(src="img/advisor-img/advisor-1.png", alt="")
                        // Social Info
                        .social-info
                            a(href="#")
                                i.fa.fa-facebook
                            a(href="#")
                                i.fa.fa-twitter
                            a(href="#")
                                i.fa.fa-linkedin
                    // Team Details
                    .single_advisor_details_info
                        h6 Samantha Sarah
                        p.designation Founder &amp; CEO

            // Single Advisor
            .col-12.col-sm-6.col-lg-3
                .single_advisor_profile.wow.fadeInUp(data-wow-delay="0.3s")
                    // Team Thumb
                    .advisor_thumb
                        img(src="img/advisor-img/advisor-2.png", alt="")
                        // Social Info
                        .social-info
                            a(href="#")
                                i.fa.fa-facebook
                            a(href="#")
                                i.fa.fa-twitter
                            a(href="#")
                                i.fa.fa-linkedin
                    // Team Details
                    .single_advisor_details_info
                        h6 Nazrul Islam
                        p.designation UI Designer

            // Single Advisor
            .col-12.col-sm-6.col-lg-3
                .single_advisor_profile.wow.fadeInUp(data-wow-delay="0.4s")
                    // Team Thumb
                    .advisor_thumb
                        img(src="img/advisor-img/advisor-3.png", alt="")
                        // Social Info
                        .social-info
                            a(href="#")
                                i.fa.fa-facebook
                            a(href="#")
                                i.fa.fa-twitter
                            a(href="#")
                                i.fa.fa-linkedin
                    // Team Details
                    .single_advisor_details_info
                        h6 Riyadh Khan
                        p.designation Developer

            // Single Advisor
            .col-12.col-sm-6.col-lg-3
                .single_advisor_profile.wow.fadeInUp(data-wow-delay="0.5s")
                    // Team Thumb
                    .advisor_thumb
                        img(src="img/advisor-img/advisor-4.png", alt="")
                        // Social Info
                        .social-info
                            a(href="#")
                                i.fa.fa-facebook
                            a(href="#")
                                i.fa.fa-twitter
                            a(href="#")
                                i.fa.fa-linkedin
                    // Team Details
                    .single_advisor_details_info
                        h6 Niloy Islam
                        p.designation Marketing Manager