// Testimonial Area
section.testimonial_area.section_padding_130
    // Testimonial Top Thumbnail
    .testimonial-top-thumbnail
        img(src="img/core-img/testimonial-top.png", alt="")

    // Testimonial Bottom Thumbnail
    .testimonial-bottom-thumbnail
        img(src="img/core-img/testimonial-bottom.png", alt="")

    .container
        .row.justify-content-center
            .col-12.col-sm-8.col-lg-6
                // Section Heading
                .section_heading.white.text-center
                    h3 Our Happy Clients
                    p Appland is completely creative, lightweight, clean &amp; super responsive app landing page.
                    .line

        .row.justify-content-center
            .col-10.col-md-9.col-lg-7
                .card.border-0.p-4.p-sm-5.testimonials.owl-carousel
                    // Single Testimonial Area
                    .single_testimonial_area.text-center
                        .testimonial_author_thumb
                            img(src="img/advisor-img/testimonial-1.jpg", alt="")
                        .testimonial_text
                            p Very well organised HTML5 template with high quality stunning design. Thank you very much!
                            .rating
                                i.lni-star-filled
                                i.lni-star-filled
                                i.lni-star-filled
                                i.lni-star-filled
                                i.lni-star-filled
                            .testimonial_author_name
                                h5 MD Nazrul Islam
                                h6 CEO &amp; Founder, Designing World

                    // Single Testimonial Area
                    .single_testimonial_area.text-center
                        .testimonial_author_thumb
                            img(src="img/advisor-img/testimonial-2.jpg", alt="")
                        .testimonial_text
                            p Awesome &amp; amazing work. Very well organised HTML5 template with high quality stunning design.
                            .rating
                                i.lni-star-filled
                                i.lni-star-filled
                                i.lni-star-filled
                                i.lni-star-filled
                                i.lni-star-filled
                            .testimonial_author_name
                                h5 Jannatun Lima
                                h6 CEO &amp; Founder, Designing World

                    // Single Testimonial Area
                    .single_testimonial_area.text-center
                        .testimonial_author_thumb
                            img(src="img/advisor-img/testimonial-1.jpg", alt="")
                        .testimonial_text
                            p Very well organised HTML5 template with high quality stunning design. Thank you very much!
                            .rating
                                i.lni-star-filled
                                i.lni-star-filled
                                i.lni-star-filled
                                i.lni-star-filled
                                i.lni-star-filled
                            .testimonial_author_name
                                h5 Jannatun Lima
                                h6 CEO &amp; Founder, Designing World