// Timeline Area
section.timeline_area.section_padding_130
    .container
        .row.justify-content-center
            .col-12.col-sm-8.col-lg-6
                // Section Heading
                .section_heading.text-center
                    h6 Our History
                    h3 A brief stories of our 2 years company journey
                    .line

        .row
            .col-12
                // Timeline Area
                .apland-timeline-area

                    // Single Timeline Content
                    .single-timeline-area
                        .timeline-date.wow.fadeInLeft(data-wow-delay="0.1s")
                            p Near Future
                        .row
                            .col-12.col-md-6.col-lg-4
                                .single-timeline-content.d-flex.wow.fadeInLeft(data-wow-delay="0.3s")
                                    .timeline-icon
                                        i.lni-bolt
                                    .timeline-text
                                        h6 Updated 5.0
                                        p Lorem ipsum dolor sit amet, consectetur adipisicing elit.

                            .col-12.col-md-6.col-lg-4
                                .single-timeline-content.d-flex.wow.fadeInLeft(data-wow-delay="0.5s")
                                    .timeline-icon
                                        i.lni-bug
                                    .timeline-text
                                        h6 Fixed bug
                                        p Lorem ipsum dolor sit amet, consectetur adipisicing elit.

                            .col-12.col-md-6.col-lg-4
                                .single-timeline-content.d-flex.wow.fadeInLeft(data-wow-delay="0.7s")
                                    .timeline-icon
                                        i.lni-invention
                                    .timeline-text
                                        h6 Reach 1k Users
                                        p Lorem ipsum dolor sit amet, consectetur adipisicing elit.

                    // Single Timeline Content
                    .single-timeline-area
                        .timeline-date.wow.fadeInLeft(data-wow-delay="0.1s")
                            p 2020
                        .row
                            .col-12.col-md-6.col-lg-4
                                .single-timeline-content.d-flex.wow.fadeInLeft(data-wow-delay="0.3s")
                                    .timeline-icon
                                        i.lni-bolt
                                    .timeline-text
                                        h6 Updated 4.4.0
                                        p Lorem ipsum dolor sit amet, consectetur adipisicing elit.

                            .col-12.col-md-6.col-lg-4
                                .single-timeline-content.d-flex.wow.fadeInLeft(data-wow-delay="0.5s")
                                    .timeline-icon
                                        i.lni-bug
                                    .timeline-text
                                        h6 Fixed bug
                                        p Lorem ipsum dolor sit amet, consectetur adipisicing elit.

                    // Single Timeline Content
                    .single-timeline-area
                        .timeline-date.wow.fadeInLeft(data-wow-delay="0.1s")
                            p 2019
                        .row
                            .col-12.col-md-6.col-lg-4
                                .single-timeline-content.d-flex.wow.fadeInLeft(data-wow-delay="0.3s")
                                    .timeline-icon
                                        i.lni-bolt
                                    .timeline-text
                                        h6 Updated 4.0
                                        p Lorem ipsum dolor sit amet, consectetur adipisicing elit.

                            .col-12.col-md-6.col-lg-4
                                .single-timeline-content.d-flex.wow.fadeInLeft(data-wow-delay="0.5s")
                                    .timeline-icon
                                        i.lni-bug
                                    .timeline-text
                                        h6 Fixed bug
                                        p Lorem ipsum dolor sit amet, consectetur adipisicing elit.

                            .col-12.col-md-6.col-lg-4
                                .single-timeline-content.d-flex.wow.fadeInLeft(data-wow-delay="0.7s")
                                    .timeline-icon
                                        i.lni-invention
                                    .timeline-text
                                        h6 Reach 500 Users
                                        p Lorem ipsum dolor sit amet, consectetur adipisicing elit.