// Video Area
section.video_area
    // Video Top Background
    .video-top-thumbnail
        img(src="img/core-img/video-top.png", alt="")

    .container.h-100
        .row.h-100.align-items-center
            .col-12
                .video_area_text.text-center
                    h2.wow.fadeInUp(data-wow-delay="0.2s") Introducing Apland
                    p.wow.fadeInUp(data-wow-delay="0.3s") Watch video. It's takes 24sec only.
                    a.video_btn.wow.fadeInUp(href="https://www.youtube.com/watch?v=YLtFGWVWiGo", data-wow-delay="0.4s")
                        i.lni-play
                        span.video-sonar