// Work Process Area
section.work_process_area.section_padding_130_80
    .container
        .row.justify-content-center
            .col-12.col-sm-8.col-lg-6
                // Section Heading
                .section_heading.text-center
                    h3 How does it 
                        span works?
                    p Appland is completely creative, lightweight, clean &amp; super responsive app landing page.
                    .line

        .row.justify-content-between
            // Single Work Step
            .col-12.col-sm-4.col-md-3
                .single_work_step
                    .step-icon
                        i.lni-cloud-download
                    h5 Get started with Apland
                    p Appland is completely creative, lightweight &amp; clean.

            // Single Work Step
            .col-12.col-sm-4.col-md-3
                .single_work_step
                    .step-icon
                        i.lni-paint-bucket
                    h5 Build your website
                    p Appland is completely creative, lightweight &amp; clean.

            // Single Work Step
            .col-12.col-sm-4.col-md-3
                .single_work_step
                    .step-icon
                        i.lni-bolt-alt
                    h5 Publish when done
                    p Appland is completely creative, lightweight &amp; clean.